[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/mbed-ce/mbed-os
[submodule "mbed-ce-client-for-azure"]
	path = mbed-ce-client-for-azure
	url = https://github.com/mbed-nuvoton/mbed-ce-client-for-azure
[submodule "ntp-client"]
	path = ntp-client
	url = https://github.com/ARMmbed/ntp-client
